@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerBoard

<style>
    .activePlayer {
        outline: 2px solid yellow;
    }
</style>

<div class="d-flex flex-column h-100 overflow-auto">
    <ul class="nav h-100">
        @foreach (var playerInfo in Model.Players)
        {
            var isFocusedPlayer = Model.FocusedPlayerId == playerInfo.Id;
            var focusedPlayerClass = Model.FocusedPlayerId == playerInfo.Id ? "focusedPlayer" : "";
            var activePlayerClass = Model.ActivePlayerId == playerInfo.Id ? "activePlayer" : "";

            <li class="nav-item w-100 m-1">
                @{
                    <div class="playerListPlayer @(activePlayerClass) @(focusedPlayerClass)" data-playerid="@playerInfo.Id" style="position:relative;">

                        <div class="playerInfo" data-userid="@playerInfo.UserId">@await Component.InvokeAsync("PlayerInfo", playerInfo)</div>

                        @if (playerInfo.UserId == Model.UserId)
                        {
                            <video class="playerVideo localVideo" muted style="width:100%"></video>
                            <div class="errorImage container" data-userid="@playerInfo.UserId" style="display:none"><img class="img-fluid" src="~/images/game/error-image-generic.png" /></div>
                        }
                        else
                        {
                            <video class="playerVideo remoteVideo" style="width:100%" data-userid="@playerInfo.UserId" data-peerid="@playerInfo.PeerId"></video>
                            <div class="errorImage container" data-userid="@playerInfo.UserId" data-peerid="@playerInfo.PeerId" style="display:none"><img class="img-fluid" src="~/images/game/error-image-generic.png" /></div>
                        }

                        @if (isFocusedPlayer)
                        {
                            <i class="bi bi-eye m-2 focusedPlayerIndicator" style="position:absolute;bottom:0;right:0;"></i>
                        }
                        else
                        {
                            <i class="bi bi-eye m-2 focusedPlayerIndicator" style="position:absolute;bottom:0;right:0;display:none;"></i>
                        }
                    </div>
                }
            </li>
        }
    </ul>
</div>