@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model;

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

@{
    ViewData["Title"] = Model.GameName;
}

<header class="row bg-dark text-white text-center py-3" style="height:10%;">
    <!-- Header content -->
    <h1>@Model.GameName</h1>
</header>

<div class="row bg-dark text-white" style="height:90%;">
    <div class="col-1 h-100" style="overflow-y:auto; overflow-x:clip; min-width: 94px; max-width: 94px;">
        @await Html.PartialAsync("_CommandBar", null)
    </div>

    <div class="col h-100">
        <div id="playerBoardContainer" class="row h-100 border border-primary">
            @await Component.InvokeAsync("PlayerBoard", new { gameId = Model.GameId })
        </div>
    </div>

    <div class="col-2 h-100" style="overflow-y:auto; overflow-x:clip;">
        @await Html.PartialAsync("_GameHistoryPanel", null)
    </div>
</div>


@section Scripts
{
    <script>
        //Fields
        var _peerJsObject;
        var _peerJsConnectionId;
        var _gameHubConnection;

        //Initialization
        $(document).ready(function () 
        {
            InitializeGameHubConnection();

            _peerJsObject = new Peer();
            _peerJsObject.on('open', id => {
                OnPeerJsOpen(id);
            });
        });

        $(document).ready(function () {
            $(document).on('click', '#btnPassTurn', function () { 
                PassTurn();
            });

            const settingsCollapse = document.querySelector("#settingsCollapse");
            $(document).on('click', '.btnDecreaseLife', function () {
                event.stopPropagation();
                var userId = $(this).data('userid');

                $.ajax({
                    url: '/Game/Home/DecreaseLifeTotal',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: userId,
                        amount: 1
                    },
                    success: function (html) {
                        var playerInfoElement = $('.playerInfo[data-userid="' + userId + '"]:first');
                        playerInfoElement.html(html);
                    }
                });
            });

            $(document).on('click', '.btnIncreaseLife', function () {
                event.stopPropagation();
                var userId = $(this).data('userid');

                $.ajax({
                    url: '/Game/Home/IncreaseLifeTotal',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: userId,
                        amount: 1
                    },
                    success: function (html) {
                        var playerInfoElement = $('.playerInfo[data-userid="' + userId + '"]:first');
                        playerInfoElement.html(html);
                    }
                });
            });


            $(document).on('click', '.btnDecreaseCommanderDamage', function () {
                event.stopPropagation();
                var userId = $(this).data('userid');

                $.ajax({
                    url: '/Game/Home/DecreaseCommanderDamage',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: userId,
                        amount: 1
                    },
                    success: function (html) {
                        var playerInfoElement = $('.playerInfo[data-userid="' + userId + '"]:first');
                        playerInfoElement.html(html);
                    }
                });
            });

            $(document).on('click', '.btnIncreaseCommanderDamage', function () {
                event.stopPropagation();
                var userId = $(this).data('userid');

                $.ajax({
                    url: '/Game/Home/IncreaseCommanderDamage',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: userId,
                        amount: 1
                    },
                    success: function (html) {
                        var playerInfoElement = $('.playerInfo[data-userid="' + userId + '"]:first');
                        playerInfoElement.html(html);
                    }
                });
            });

            $(document).on('click', '.btnDecreaseInfectDamage', function () {
                event.stopPropagation();
                var userId = $(this).data('userid');

                $.ajax({
                    url: '/Game/Home/DecreaseInfectDamage',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: userId,
                        amount: 1
                    },
                    success: function (html) {
                        var playerInfoElement = $('.playerInfo[data-userid="' + userId + '"]:first');

                        playerInfoElement.html(html);
                    }
                });
            });

            $(document).on('click', '.btnIncreaseInfectDamage', function () {
                event.stopPropagation();
                var userId = $(this).data('userid');

                $.ajax({
                    url: '/Game/Home/IncreaseInfectDamage',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: userId,
                        amount: 1
                    },
                    success: function (html) {
                        var playerInfoElement = $('.playerInfo[data-userid="' + userId + '"]:first');

                        playerInfoElement.html(html);
                    }
                });
            });
        });

        async function OnPeerJsOpen(peerJsConnectionId) 
        {
            _peerJsConnectionId = peerJsConnectionId;

            await JoinGameHub();

            _peerJsObject.on("call", (call) => {
                AnswerCall(call);
            });

            PlayerBoard_LoadRemoteStreams(_peerJsObject);
        }

        function InitializeGameHubConnection() 
        {
            _gameHubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/GameHub").build();

            _gameHubConnection.on("OnPlayerJoined", function (userId, peerId) {
                OnPlayerJoinedGame(userId, peerId);
            });

            _gameHubConnection.on("OnPlayerInfoChanged", function (userId) {
                OnPlayerInfoChanged(userId);
            });
        }

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@Model.GameId', '@Model.UserId', _peerJsConnectionId);
        }

        //Game hub events
        function OnPlayerJoinedGame(userId, peerId) 
        {
            RefreshPlayersList();
        }

        function OnPlayerInfoChanged(userId) 
        {
            PlayerBoard_RefreshPlayerInfo(userId);
        }

        //Control events
        function btnRefreshPlayers_Clicked()
        {
            RefreshPlayersList();
        }

        //Methods
        function RefreshPlayersList() 
        {
            $.ajax({
                url: '/Game/Home/PlayerBoard/@Model.GameId',
                data:{
                    gameId : '@Model.GameId'
                },
                success: function (html) {
                    $('#playerBoardContainer').html(html);
                    PlayerBoard_LoadRemoteStreams(_peerJsObject);
                }
            });
        }

        function PassTurn()
        {
            $.ajax({
                url: '/Game/Home/PassTurn/@Model.GameId',
                data: {
                    gameId: '@Model.GameId'
                },
                success: function (html) {
                    $('#playerBoardContainer').html(html);
                    PlayerBoard_LoadRemoteStreams(_peerJsObject);
                }
            });
        }

        function AnswerCall(call) 
        {
            call.answer(_localVideoStream);
        }
    </script>
}