@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model;

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

@{
    ViewData["Title"] = Model.GameName;
}
<style>
    .card-tooltip-image {
        width: 250px;
    }

    .tooltip-inner {
        max-width: 100% !important;
    }
</style>

<div class="row bg-dark text-white" style="height:100%;">
    <div class="col-1 h-100" style="overflow-y:auto; overflow-x:clip; min-width: 94px; max-width: 94px;">
        @await Html.PartialAsync("_CommandBar", null)
    </div>

    <div class="col h-100">
        <div id="playerBoardContainer" class="row h-100 border border-primary">
            @await Html.PartialAsync("_PlayerBoard", Model.PlayerBoard)
        </div>
    </div>

    <div class="col-2 h-100" style="overflow-y:auto; overflow-x:clip;">
        @await Html.PartialAsync("_GameHistoryPanel", null)
    </div>
</div>

@section Scripts
{
    <script>
        //Fields
        var _peerJsObject;
        var _peerJsConnectionId;
        var _gameHubConnection;

        //Initialization
        $(document).ready(function () 
        {
            InitializeGameHubConnection();
            InitializeUiEventHandlers();
            InitializeTooltipsForCards();

            _peerJsObject = new Peer();
            _peerJsObject.on('open', id => {
                OnPeerJsOpen(id);
            });
        });

        $(document).ajaxComplete(function () {
            //Re-initialize tooltips after any part of the board is reloaded
            InitializeTooltipsForCards();
        });

        async function OnPeerJsOpen(peerJsConnectionId) 
        {
            _peerJsConnectionId = peerJsConnectionId;

            await JoinGameHub();

            _peerJsObject.on("call", (call) => {
                AnswerCall(call);
            });

            PlayerBoard_LoadRemoteStreams(_peerJsObject);
        }

        function InitializeGameHubConnection() 
        {
            _gameHubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/GameHub").build();

            _gameHubConnection.on("OnPlayerJoined", function (playerId, peerId) {
                OnPlayerJoinedGame(playerId, peerId);
            });

            _gameHubConnection.on("OnPlayerLifeTotalChanged", function (playerId) {
                OnPlayerLifeTotalChanged(playerId);
            });

            _gameHubConnection.on("OnPassTurn", function () {
                OnPassTurn();
            });
        }

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@Model.GameId', '@Model.PlayerId', _peerJsConnectionId);
        }

        //Game hub events
        function OnPlayerJoinedGame(playerId, peerId) 
        {
            RefreshPlayersList();
        }

        function OnPassTurn()
        {
            $.ajax({
                url: '/Game/Home/PlayerBoard/@Model.GameId',
                data: {
                    gameId: '@Model.GameId'
                },
                success: function (html) {
                    $('#playerBoardContainer').html(html);
                    PlayerBoard_LoadRemoteStreams(_peerJsObject);
                }
            });
        }

        function OnPlayerLifeTotalChanged(playerId)
        {
            
        }

        //Methods
        function RefreshPlayersList() 
        {
            $.ajax({
                url: '/Game/Home/PlayerBoard/@Model.GameId',
                data:{
                    gameId : '@Model.GameId'
                },
                success: function (html) {
                    $('#playerBoardContainer').html(html);
                    PlayerBoard_LoadRemoteStreams(_peerJsObject);
                }
            });
        }

        async function PassTurn()
        {
            await _gameHubConnection.invoke("PassTurn", '@Model.GameId');
        }

        function AnswerCall(call) 
        {
            call.answer(_localVideoStream);
        }

        function InitializeUiEventHandlers()
        {
            $(document).on('click', '#btnPassTurn', function () {
                PassTurn();
            });
        }

        function InitializeTooltipsForCards()
        {
            $('.card-tooltip[data-toggle="tooltip"]').tooltip({
                animated: 'fade',
                placement: 'auto',
                html: true
            });
        }
    </script>
}