@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model;

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

@{
    ViewData["Title"] = Model.GameName;
}
<style>
    .card-tooltip-image {
        width: 250px;
    }

    .tooltip-inner {
        max-width: 100% !important;
    }
</style>

<div class="row bg-dark text-white" style="height:100%;">
    <div class="col-1 h-100" style="overflow-y:auto; overflow-x:clip; min-width: 94px; max-width: 94px;">
        @await Html.PartialAsync("_CommandBar", null)
    </div>

    <div class="col h-100">
        <div id="playerBoardContainer" class="row h-100 border border-primary">
            @await Html.PartialAsync("_PlayerBoard", Model.PlayerBoard)
        </div>
    </div>

    <div class="col-2 h-100" style="overflow-y:auto; overflow-x:clip;">
        @await Html.PartialAsync("_GameHistoryPanel", null)
    </div>
</div>

@section Scripts
{
    <script>
        //Fields
        var _peerJsObject;
        var _peerJsConnectionId;
        var _gameHubConnection;

        //Initialization
        $(document).ready(function () 
        {
            InitializeGameHubConnection();
            InitializeUiEventHandlers();
            PreventDropdownsFromClosingOnClick();
            InitializeTooltipsForCards();
            InitializePlayerInfoDropdowns();
            InitializeCommanderInputs();
            InitializeInfectTrackers();

            _peerJsObject = new Peer();
            _peerJsObject.on('open', id => {
                OnPeerJsOpen(id);
            });
        });

        $(document).ajaxComplete(function () {
            //Re-initialize tooltips after any part of the board is reloaded
            InitializeTooltipsForCards();
        });

        async function OnPeerJsOpen(peerJsConnectionId) 
        {
            _peerJsConnectionId = peerJsConnectionId;

            await JoinGameHub();

            _peerJsObject.on("call", (call) => {
                AnswerCall(call);
            });

            PlayerBoard_LoadRemoteStreams(_peerJsObject);
        }

        function InitializeGameHubConnection() 
        {
            _gameHubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/GameHub").build();

            _gameHubConnection.on("OnPlayerJoined", function (playerId, peerId) {
                OnPlayerJoinedGame(playerId, peerId);
            });

            _gameHubConnection.on("OnPlayerLifeTotalChanged", function (playerId) {
                OnPlayerLifeTotalChanged(playerId);
            });

            _gameHubConnection.on("OnPassTurn", function () {
                OnPassTurn();
            });
        }

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@Model.GameId', '@Model.PlayerId', _peerJsConnectionId);
        }

        //Game hub events
        function OnPlayerJoinedGame(playerId, peerId) 
        {
            RefreshPlayersList();
        }

        function OnPassTurn()
        {
            $.ajax({
                url: '/Game/Home/PlayerBoard/@Model.GameId',
                data: {
                    gameId: '@Model.GameId'
                },
                success: function (html) {
                    $('#playerBoardContainer').html(html);
                    PlayerBoard_LoadRemoteStreams(_peerJsObject);
                }
            });
        }

        function OnPlayerLifeTotalChanged(playerId)
        {
            
        }

        //Methods
        function RefreshPlayersList() 
        {
            $.ajax({
                url: '/Game/Home/PlayerBoard/@Model.GameId',
                data:{
                    gameId : '@Model.GameId'
                },
                success: function (html) {
                    $('#playerBoardContainer').html(html);
                    PlayerBoard_LoadRemoteStreams(_peerJsObject);
                }
            });
        }

        async function PassTurn()
        {
            await _gameHubConnection.invoke("PassTurn", '@Model.GameId');
        }

        function AnswerCall(call) 
        {
            call.answer(_localVideoStream);
        }

        function InitializeUiEventHandlers()
        {
            $(document).on('click', '#btnPassTurn', function () {
                PassTurn();
            });
        }

        function InitializeTooltipsForCards()
        {
            $('.card-tooltip[data-toggle="tooltip"]').tooltip({
                animated: 'fade',
                placement: 'auto',
                html: true
            });
        }

        function InitializePlayerInfoDropdowns()
        {
            //Make sure the player info drop down can extend outside of the parent container
            $(document).on('show.bs.dropdown', '.playerInfoDropdown', function () {
                var dropdown = $(this).closest('.dropdown');
                var dropdownMenu = dropdown.find('.dropdown-menu').first();

                if (dropdownMenu.length != 0) 
                {
                    $('body').append(dropdownMenu.css({
                        position: 'absolute',
                        left: dropdown.offset().left,
                        top: dropdown.offset().top
                    }).detach());
                }
            });
        }

        function PreventDropdownsFromClosingOnClick()
        {
            $(document).on('hide.bs.dropdown', function (e) {
                var target = $(e.clickEvent.target);
                if (target.hasClass("keepopen") || target.parents(".keepopen").length) 
                {
                    return false;
                }
                else 
                {
                    return true;
                }
            });
        }

        function InitializeCommanderInputs()
        {
            //Auto complete for commander inputs
            var cache = {};

            $(document).on('focus', '.commander-search', function () {
                var input = $(this);
                var hiddenInput = input.next("input[type='hidden']");

                input.autocomplete({
                    minLength: 2,
                    source: function (request, response) {
                        var term = request.term;
                        if (term in cache) {
                            response(cache[term]);
                            return;
                        }

                        $.getJSON("/Game/Home/SearchCards", { searchString: term }, function (data, status, xhr) {
                            cache[term] = data;
                            response(data);
                        });
                    },
                    focus: function (event, ui) {
                        input.val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        input.val(ui.item.label);
                        hiddenInput.val(ui.item.value).trigger('change');
                        return false;
                    },
                    appendTo: input.closest('.commander-inputs')
                });
            });

            //When a player changes their commander, update the server
            $('body').on('change', '.commander-id', function () {
                var input = $(this);
                var cardId = input.val();
                var slot = input.data('slot');
                var playerId = input.closest('.commander-inputs').data('player-id');

                //Update state when user selects a commander
                $.ajax({
                    url: '/Game/Home/UpdateCommander',
                    data: {
                        gameId: '@(Model.GameId)',
                        playerId: '@(Model.PlayerId)',
                        slot: slot,
                        cardId: cardId
                    },
                    success: function (html) {
                        var commanderInfoContainer = $('#commanderInfo' + playerId);
                        commanderInfoContainer.html(html);
                    }
                });
            });
        }

        function InitializeInfectTrackers()
        {
            // Button click event handlers
            $(document).on("click", '.increaseInfect', function () {
                var tracker = $(this).closest('.infectTracker');
                var progressBar = tracker.find('.progress-bar').first();

                ChangeProgress(progressBar, 1);
            });

            $(document).on("click", '.decreaseInfect', function () {
                var tracker = $(this).closest('.infectTracker');
                var progressBar = tracker.find('.progress-bar').first();

                ChangeProgress(progressBar, -1);
            });
        }

        function ChangeProgress(progressBar, amount) {
            var minValue = parseFloat(progressBar.attr('aria-valuemin'));
            var maxValue = parseFloat(progressBar.attr('aria-valuemax'));
            var currentValue = parseFloat(progressBar.data('value'));
            var newValue = currentValue + amount;

            if (newValue <= maxValue && newValue >= minValue) {
                var percentage = ((newValue - minValue) / (maxValue - minValue)) * 100;

                progressBar.css('width', percentage + '%');
                progressBar.attr('aria-valuenow', percentage);
                progressBar.data('value', newValue);
            }
        }
    </script>
}