@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model Model

<div id="playerTurnOrderModal" class="modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form action="/Game/Home/AdjustPlayerTurnOrder" method="post">
            <input type="hidden" name="GameId" value="@Model.GameId">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Player Turn Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <ul class="playerTurnOrder list-group">
                            @*@foreach (var player in Model.Players)
                            {
                                <span class="list-group-item list-group-item-action bi bi-arrows-move btn"><span class="ps-2">@player.PlayerName</span></span>
                            }*@
                            @for (int i = 0; i < Model.PlayerBoard.Players.Count; i++)
                            {
                                var player = Model.PlayerBoard.Players[i];
                                <li class="list-group-item list-group-item-action bi bi-arrows-move btn">
                                    <span class="ps-2">@player.PlayerName</span>
                                    <input type="hidden" name="Players.Index" value="@i" />
                                    <input type="hidden" name="Players[@i].Id" value="@player.Id" />
                                    <input type="hidden" name="Players[@i].PlayerName" value="@player.PlayerName" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ok</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>