@using BoardBrawl.WebApp.MVC.Areas.Lobby.Models
@model Model

@{
    ViewData["Title"] = "Lobby";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="h2">Your Games</span>
            <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#createGameModal">
                <i class="bi bi-plus me-1"></i> Create Game
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col text-start">Game Name</th>
                        <th class="col-2 text-center">Players</th>
                        <th class="col-2 text-end"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.MyGames)
                    {
                        <tr>
                            <td class="col"><a href="@Url.Action("JoinGame", new { gameId = game.Id })">@game.Name</a></td>
                            <td class="col-2 text-center">@game.PlayerCount</td>
                            <td class="col-2 text-end">
                                <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("JoinGame", new { gameId = game.Id })'"><i class="bi bi-arrow-right-square-fill"></i></button>
                                <button type="button" class="btn btn-link btnInvitePlayers" data-invitation-url="@Url.Action("", "", new { area = "Game", game.Id }, "https", Context.Request.Host.Value)"><i class="bi bi-person-plus-fill"></i></button>
                                <button type="button" class="btn btn-link btnDeleteGame" data-game-id="@game.Id"><i class="bi bi-trash-fill"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateGameModal")

<dialog id="invitePlayersDialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Invite Players</h5>
            <button type="button" class="close btnCloseInvitePlayersDialog">&times;</button>
        </div>
        <div class="modal-body">
            <p>Use the following URL to invite players:</p>
            <div class="input-group">
                <input type="text" id="invitationUrl" readonly class="form-control">
                <button type="button" class="btn btn-primary" id="btnCopyInvitationUrl">
                    <i class="bi bi-clipboard"></i>
                </button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCloseInvitePlayersDialog">Close</button>
        </div>
    </div>
</dialog>

<dialog id="deleteGameDialog">
    <form action="/Lobby/Home/DeleteGame" method="post">
        <input type="hidden" id="deleteGameId" name="gameId" value="">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Game</h5>
                <button type="button" class="close btnCloseDeleteGameDialog">&times;</button>
            </div>
            <div class="modal-body">
                <p><strong>Warning:</strong> Any players in the game will be removed.</p>
                <p>Are you sure you want to delete this game?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="btnDeleteGameConfirm">Delete</button>
                <button type="button" class="btn btn-secondary btnCloseDeleteGameDialog">Cancel</button>
            </div>
        </div>
    </form>
</dialog>


@section Scripts{
    <script>
        //Invite players dialog
        const invitePlayersDialog = document.getElementById('invitePlayersDialog');

        $(document).on('click', '.btnInvitePlayers', function () {
            const invitationUrl = $(this).data('invitation-url');
            const invitationUrlInput = $('#invitationUrl');

            invitationUrlInput.val(invitationUrl);
            invitationUrlInput.width(invitationUrl.length + 'ch');

            invitePlayersDialog.show();
        });

        $(document).on('click', '.btnCloseInvitePlayersDialog', function () {
            invitePlayersDialog.close();
        });

        $(document).on('click', '#btnCopyInvitationUrl', function () {
            const invitationUrlInput = $('#invitationUrl');
            invitationUrlInput.select();
            document.execCommand('copy');
        });

        //Delete game dialog
        const deleteGameDialog = document.getElementById('deleteGameDialog');

        $(document).on('click', '.btnDeleteGame', function () {
            const gameId = $(this).data('game-id');
            $('#deleteGameId').val(gameId);
            deleteGameDialog.show();
        });

        $(document).on('click', '.btnCloseDeleteGameDialog', function () {
            deleteGameDialog.close();
        });
    </script>
}