@using BoardBrawl.WebApp.MVC.Areas.Lobby.Models;
@model Model

@{
    ViewData["Title"] = "Lobby";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="h2">Your Games</span>
            <button type="button" class="btn btn-success float-end" id="btnCreateGame">
                <i class="bi bi-plus me-1"></i> Create Game
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col text-start">Game Name</th>
                        <th class="col-2 text-center">Players</th>
                        <th class="col-2 text-end"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.MyGames)
                    {
                        <tr>
                            <td class="col"><a href="@Url.Action("JoinGame", new { gameId = game.GameId, userId = Model.UserId })">@game.Name</a></td>
                            <td class="col-2 text-center">@game.PlayerCount</td>
                            <td class="col-2 text-end">
                                <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("JoinGame", new { gameId = game.GameId, userId = Model.UserId })'"><i class="bi bi-arrow-right-square-fill"></i></button>
                                <button type="button" class="btn btn-link btnInvitePlayers" data-invitation-url="@Url.Action("", "", new { area = "Game", game.GameId }, "https", Context.Request.Host.Value)"><i class="bi bi-person-plus-fill"></i></button>
                                <button type="button" class="btn btn-link btnDeleteGame" data-game-id="@game.GameId"><i class="bi bi-trash-fill"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<dialog id="createGameDialog">
    <form action="/Lobby/Home/CreateGame" method="post">
        <input type="hidden" name="CreatedByUserId" value="@Model.UserId">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Game</h5>
                <button type="button" class="close btnCloseCreateGameDialog">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="gameName">Name:</label>
                    <input type="text" class="form-control" id="gameName" name="Name">
                </div>
                <div class="form-group">
                    <label for="gameDescription">Description:</label>
                    <textarea class="form-control" id="gameDescription" name="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="isPublic">Public:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="isPublic" name="IsPublic" value="true">
                        <label class="form-check-label" for="isPublic">Yes</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnOk">Create</button>
                <button type="button" class="btn btn-secondary btnCloseCreateGameDialog">Cancel</button>
            </div>
        </div>
    </form>
</dialog>

<dialog id="invitePlayersDialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Invite Players</h5>
            <button type="button" class="close btnCloseInvitePlayersDialog">&times;</button>
        </div>
        <div class="modal-body">
            <p>Copy the following URL to invite players:</p>
            <input type="text" id="invitationUrl" readonly>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCloseInvitePlayersDialog">Close</button>
        </div>
    </div>
</dialog>

@section Scripts{
    <script>
        //Create game dialog
        const createGameButton = document.getElementById('btnCreateGame');
        const createGameDialog = document.getElementById('createGameDialog');

        createGameButton.addEventListener('click', () => {
            createGameDialog.showModal();
        });

        $(document).on('click', '.btnCloseCreateGameDialog', function () {
            createGameDialog.close();
        });

        //Invite players dialog
        const invitePlayersDialog = document.getElementById('invitePlayersDialog');

        $(document).on('click', '.btnInvitePlayers', function () {
            const invitationUrl = $(this).data('invitation-url');
            $('#invitationUrl').val(invitationUrl);
            invitePlayersDialog.show();
        });

        $(document).on('click', '.btnCloseInvitePlayersDialog', function () {
            invitePlayersDialog.close();
        });
    </script>
}