@using BoardBrawl.WebApp.MVC.Areas.Lobby.Models
@model Model

@{
    ViewData["Title"] = "Lobby";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="h2">Your Games</span>
            <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#createGameModal">
                <i class="bi bi-plus me-1"></i> Create Game
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col text-start">Game Name</th>
                        <th class="col-2 text-center">Players</th>
                        <th class="col-2 text-end"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.MyGames)
                    {
                        <tr>
                            <td class="col"><a href="@Url.Action("JoinGame", new { gameId = game.Id })">@game.Name</a></td>
                            <td class="col-2 text-center">@game.PlayerCount</td>
                            <td class="col-2 text-end">
                                <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("JoinGame", new { gameId = game.Id })'">
                                    <i class="bi bi-arrow-right-square-fill"></i></button>
                                <button type="button" class="btn btn-link btnInvitePlayers" data-invitation-url="@Url.Action("", "", new { area = "Game", game.Id }, "https", Context.Request.Host.Value)"
                                        data-bs-toggle="modal" data-bs-target="#invitePlayersModal">
                                    <i class="bi bi-person-plus-fill"></i>
                                </button>
                                <button type="button" class="btn btn-link btnDeleteGame" data-game-id="@game.Id"
                                        data-bs-toggle="modal" data-bs-target="#deleteGameModal">
                                    <i class="bi bi-trash-fill"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateGameModal")
@await Html.PartialAsync("_InvitePlayersModal")
@await Html.PartialAsync("_DeleteGameModal")

@section Scripts{
    <script>
        //Invite players modal
        $(document).on('show.bs.modal', '#invitePlayersModal', function (e){
            const clickedElement = $(e.relatedTarget);
            const invitationUrl = clickedElement.data('invitation-url');
            const invitationUrlInput = $('#invitationUrl');

            invitationUrlInput.val(invitationUrl);
            invitationUrlInput.width(invitationUrl.length + 'ch');
        });

        $(document).on('click', '#btnCopyInvitationUrl', function () {
            const invitationUrlInput = $('#invitationUrl');
            invitationUrlInput.select();
            document.execCommand('copy');
        });

        //Delete game modal
        $(document).on('show.bs.modal', '#deleteGameModal', function (e) {
            const clickedElement = $(e.relatedTarget);
            const gameId = clickedElement.data('game-id');

            $('#deleteGameId').val(gameId);
        });
    </script>
}