@using SpellTable2.WebApp.MVC.Areas.Game.Models;
@model Model;

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

@{
    ViewData["Title"] = Model.GameName;
}

<div class="text-center">
    <h1>@Model.GameName</h1>
</div>

<button id="btnRefreshPlayers">Refresh</button>

<div id="playerListContainer">
    @await Component.InvokeAsync("PlayerList", new {gameId = Model.GameId, userId = Model.UserId})
</div>


@section Scripts
{
    <script>
        //Fields
        var _peerJsObject;
        var _peerJsConnectionId;
        var _gameHubConnection;

        //Initialization
        InitializeGameHubConnection();
        _peerJsObject = new Peer();
        _peerJsObject.on('open', id => {
            OnPeerJsOpen(id);
        });

        $(document).ready(function () {
            $('#btnRefreshPlayers').click(function () {
                btnRefreshPlayers_Clicked();
            });
        });

        async function OnPeerJsOpen(peerJsConnectionId) 
        {
            console.log('Peer Js Opened: ' + peerJsConnectionId);

            _peerJsConnectionId = peerJsConnectionId;

            await JoinGameHub();
        }

        function InitializeGameHubConnection() 
        {
            _gameHubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/GameHub").build();

            _gameHubConnection.on("OnPlayerJoined", function (userId, peerId) {
                OnPlayerJoinedGame(userId, peerId);
            });

            _gameHubConnection.on("OnPlayerInfoChanged", function (userId) {
                OnPlayerInfoChanged(userId);
            });
        }

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@Model.GameId', '@Model.UserId', _peerJsConnectionId);
        }

        //Game hub events
        function OnPlayerJoinedGame(userId, peerId) 
        {
            console.log("Player joined, userId:" + userId);
            RefreshPlayersList();
        }

        function OnPlayerInfoChanged(userId) 
        {
            PlayerList_RefreshPlayerInfo(userId);
        }

        //Control events
        function btnRefreshPlayers_Clicked()
        {
            RefreshPlayersList();
        }

        //Methods
        function RefreshPlayersList() 
        {
            $.ajax({
                url: '/Game/Home/PlayerList/@Model.GameId',
                data:{
                    gameId : '@Model.GameId',
                    userId : '@Model.UserId'
                },
                success: function (html) {
                    $('#playerListContainer').html(html);
                }
            });
        }
    </script>
}