@using SpellTable2.WebApp.MVC.Areas.Game.Models;
@model Model;

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

@{
    ViewData["Title"] = Model.GameName;
}

<div class="text-center">
    <h1>@Model.GameName</h1>
</div>

<button id="btnRefreshPlayers">Refresh</button>

<div id="playerBoardContainer" class="container">
        @await Component.InvokeAsync("PlayerBoard", new {gameId = Model.GameId, userId = Model.UserId})
</div>


@section Scripts
{
    <script>
        //Fields
        var _peerJsObject;
        var _peerJsConnectionId;
        var _gameHubConnection;

        //Initialization
        $(document).ready(function () 
        {
            InitializeGameHubConnection();

            _peerJsObject = new Peer();
            _peerJsObject.on('open', id => {
                OnPeerJsOpen(id);
            });

            $('#btnRefreshPlayers').click(function () {
                btnRefreshPlayers_Clicked();
            });
        });

        async function OnPeerJsOpen(peerJsConnectionId) 
        {
            _peerJsConnectionId = peerJsConnectionId;

            await JoinGameHub();

            _peerJsObject.on("call", (call) => {
                AnswerCall(call);
            });

            PlayerBoard_LoadRemoteStreams(_peerJsObject);
        }

        function InitializeGameHubConnection() 
        {
            _gameHubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/GameHub").build();

            _gameHubConnection.on("OnPlayerJoined", function (userId, peerId) {
                OnPlayerJoinedGame(userId, peerId);
            });

            _gameHubConnection.on("OnPlayerInfoChanged", function (userId) {
                OnPlayerInfoChanged(userId);
            });
        }

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@Model.GameId', '@Model.UserId', _peerJsConnectionId);
        }

        //Game hub events
        function OnPlayerJoinedGame(userId, peerId) 
        {
            RefreshPlayersList();
        }

        function OnPlayerInfoChanged(userId) 
        {
            PlayerBoard_RefreshPlayerInfo(userId);
        }

        //Control events
        function btnRefreshPlayers_Clicked()
        {
            RefreshPlayersList();
        }

        //Methods
        function RefreshPlayersList() 
        {
            $.ajax({
                url: '/Game/Home/PlayerBoard/@Model.GameId',
                data:{
                    gameId : '@Model.GameId',
                    userId : '@Model.UserId'
                },
                success: function (html) {
                    $('#playerBoardContainer').html(html);
                    PlayerBoard_LoadRemoteStreams(_peerJsObject);
                }
            });
        }

        function AnswerCall(call) 
        {
            call.answer(_localVideoStream);
        }
    </script>
}