@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerBoard

<style>
    .activePlayer {
        outline: 2px solid yellow;
    }

    @@keyframes focusedPlayerIndicatorPulse {
        0% {color: white;}
        50% {color: gold;}
        100% {color: white;}
    }

    .focusedPlayerIndicator{
        color:white;
        animation-name: focusedPlayerIndicatorPulse;
        animation-duration: 3s;
        animation-iteration-count: infinite
    }
</style>

<div class="h-100 overflow-auto pt-3">
    <div class="h-100 d-flex flex-column">
        @foreach (var playerInfo in Model.Players)
        {
            var isFocusedPlayer = Model.FocusedPlayerId == playerInfo.Id;
            var focusedPlayerClass = Model.FocusedPlayerId == playerInfo.Id ? "focusedPlayer" : "";
            var activePlayerClass = Model.ActivePlayerId == playerInfo.Id ? "activePlayer" : "";

            <div class="w-100 mb-3 playerListPlayer @(activePlayerClass) @(focusedPlayerClass)" data-player-id="@playerInfo.Id">
                <div class="playerInfo" data-plyaer-id="@playerInfo.Id">
                    @await Html.PartialAsync("PlayerInfo/_PlayerInfo", playerInfo)
                </div>
                <div class="playerThumbnail" style="position:relative;">
                    @if (playerInfo.Id == Model.PlayerId)
                    {
                        <video class="playerVideo localVideo w-100" muted></video>
                        <div class="errorImage container" data-player-id="@playerInfo.Id" style="display:none"><img class="img-fluid" src="~/images/game/error-image-generic.png" /></div>
                    }
                    else
                    {
                        <video class="playerVideo remoteVideo w-100" data-player-id="@playerInfo.Id" data-peerid="@playerInfo.PeerId"></video>
                        <div class="errorImage container" data-player-id="@playerInfo.Id" data-peerid="@playerInfo.PeerId" style="display:none"><img class="img-fluid" src="~/images/game/error-image-generic.png" /></div>
                    }

                    @if (isFocusedPlayer)
                    {
                        <i class="bi bi-eye m-2 focusedPlayerIndicator" style="position:absolute;bottom:0;right:0;"></i>
                    }
                    else
                    {
                        <i class="bi bi-eye m-2 focusedPlayerIndicator" style="position:absolute;bottom:0;right:0;display:none;"></i>
                    }
                </div>
            </div>
        }
    </div>
</div>