@using SpellTable2.WebApp.MVC.Areas.Game.Models;
@model PlayerList

<h1>Players</h1>

@foreach (var playerInfo in Model.Players)
{
    <div id="playerInfo@(playerInfo.UserId)">@await Component.InvokeAsync("PlayerInfo", playerInfo)</div>
    <video id="playerVideo@(playerInfo.UserId)" muted></video>

    <script>

        @if(playerInfo.UserId != Model.UserId)
        {
            @:RequestRemoteStream('@playerInfo.UserId', '@playerInfo.PeerId');
        }

        $(document).ready(function () {
            $(document).off('click', '#btnDecreaseLife@(playerInfo.UserId)')

            $(document).on('click', '#btnDecreaseLife@(playerInfo.UserId)', function () {
                $.ajax({
                    url: '/Game/Home/DecreaseLifeTotal',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: '@(playerInfo.UserId)',
                        amount: 1
                    },
                    success: function (html) {
                        $('#playerInfo@(playerInfo.UserId)').html(html);
                    }
                });
            });

            $(document).off('click', '#btnIncreaseLife@(playerInfo.UserId)')

            $(document).on('click', '#btnIncreaseLife@(playerInfo.UserId)', function () {
                $.ajax({
                    url: '/Game/Home/IncreaseLifeTotal',
                    data: {
                        gameId: '@(Model.GameId)',
                        userId: '@(playerInfo.UserId)',
                        amount: 1
                    },
                    success: function (html) {
                        $('#playerInfo@(playerInfo.UserId)').html(html);
                    }
                });
            });
        });
    </script>
}

<script>
    var _localVideoStream;

    InitializeLocalVideoStream();

    function PlayerList_RefreshPlayerInfo(userId)
    {
        $.ajax({
            url: '/Game/Home/PlayerInfo',
            data: {
                gameId: '@(Model.GameId)',
                userId: userId
            },
            success: function (html) {
                $('#playerInfo' + userId).html(html);
            }
        });
    }

    function InitializeLocalVideoStream() 
    {
        navigator.mediaDevices.getUserMedia({
            audio: true,
            video: true
        }).then(stream => {
            _localVideoStream = stream;
            var videoElement = document.getElementById("playerVideo@(Model.UserId)");

            videoElement.srcObject = stream;
            videoElement.addEventListener('loadedmetadata', () => {
                videoElement.play()
            })
        })
    }

    async function RequestRemoteStream(userId, peerId) 
    {
        const call = _peerJsObject.call(userId, _localVideoStream);

        call.on("stream", (stream) => {
            var videoElement = document.getElementById("playerVideo" + userId);

            videoElement.srcObject = remoteStream;
            videoElement.addEventListener('loadedmetadata', () => {
                videoElement.play();
            });
        });

        call.on("data", (stream) => {
            document.querySelector("#playerVideo" + userId).srcObject = stream;
        });

        call.on("error", (err) => {
            console.log("Call error:" + err);
        });

        call.on('close', () => {
            Endcall(call);
        })
    }

    function AnswerCall(call)
    {
        console.log('Answering call');

        call.answer(_localVideoStream);

        call.on("stream", (remoteStream) => {
            AddRemoteStream(remoteStream);
        });
    }

    function EndCall(call) 
    {
        console.log('Ending call');
        call.close();
    }
</script>