@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerInfo


<style>
    .transparent-card {
        background: rgba(0, 0, 0, 0.5) !important; /* Black with 50% opacity */
    }

    .btn-player-settings {
        background-color: rgba(75, 75, 75, 0.5);
        border-radius: 5px;
        padding: 8px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-player-counter {
        margin-top: -5px;
    }

    ::-webkit-input-placeholder {
        font-size: 25px;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: 25px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 25px;
    }

    /* Overriding styles */

    ::-webkit-input-placeholder {
        font-size: 13px !important;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: 13px !important;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 13px !important;
    }

/   .commander-search-input {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

/*    input::placeholder {
        padding-left: 10px;
    }*/
    .dropdown-menu-extended {
        max-height: 500px; /* Or any other value */
        overflow-y: auto;
    }

    .custom-dropdown {
        width: 315px; /* Or any other value */
    }

    .no-arrow::after {
        display: none;
    }

    .damage-type-header {
        margin-left: 10px;
    }
</style>
<div class="card bg-transparent border-0">
    <div class="card-body text-white bg-dark" style="padding-top: 5px;">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div>
                    <button data-userid="@Model.UserId" class="shadow-none text-white btn btn-transparent btn-sm btnDecreaseLife btn-player-counter">-</button>
                    @Model.LifeTotal
                    <button data-userid="@Model.UserId" class="shadow-none btn text-white btn-transparent btn-sm btnIncreaseLife btn-player-counter">+</button>
                </div>
                <div class="ml-2" style="font-size: 12px;">
                    <div>
                        <span>Player Name</span>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-toggle no-arrow shadow-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Commander Name</span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right text-white custom-dropdown" aria-labelledby="dropdownMenuButton" style="background-color: slateblue;">
                            <div class="card-body" style="font-size: 12px; padding-top: 5px; padding-bottom: 5px; background-color: slateblue;">
                                <h6 class="text-white mb-2">Player Name</h6>
                                <div class="row pt-2 pb-4">
                                    <div class="pb-1">
                                        <span class="fst-italic mb-2">Commander(s)</span>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control commander-search-input cardsearch placeholder-xs" placeholder="Add Commander">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control commander-search-input cardsearch placeholder-xs" placeholder="Add Commander">
                                    </div>
                                </div>
                                <div class="fst-italic">Damage Counters</div>
                                <div class="row align-items-center">
                                    <div class="col-7" style="padding-right: 10px;"><span class="damage-type-header">Commander</span></div>
                                    <div class="col-5">
                                        <span class="float-end">
                                            <button data-userid="@Model.UserId" class="shadow-none text-white btn btn-transparent btn-sm btnDecreaseCommanderDamage btn-player-counter">-</button>
                                            @Model.CommanderDamage
                                            <button data-userid="@Model.UserId" class="shadow-none text-white btn btn-transparent btn-sm btnIncreaseCommanderDamage btn-player-counter">+</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-7" style="padding-right: 10px;"><span class="damage-type-header">Infect</span></span></div>
                                    <div class="col-5 float-end">
                                        <span class="float-end">
                                            <button data-userid="@Model.UserId" class="shadow-none text-white btn btn-transparent btn-sm btnDecreaseInfectDamage btn-player-counter">-</button>
                                            @Model.InfectDamage
                                            <button data-userid="@Model.UserId" class="shadow-none text-white btn btn-transparent btn-sm btnIncreaseInfectDamage btn-player-counter">+</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn shadow-none text-white p-0 no-arrow dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark text-white" aria-labelledby="dropdownMenuButton1">
                    <div class="card-body" style="font-size: 12px; padding-top: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Auto complete card search boxes
    $(function () {
        var cache = {};
        $(".cardsearch").each(function () {
            var input = $(this);
            input.autocomplete({
                minLength: 2,
                source: function (request, response) {
                    var term = request.term;
                    if (term in cache) {
                        response(cache[term]);
                        return;
                    }

                    $.getJSON("/Game/Home/SearchCards", { searchString: term }, function (data, status, xhr) {
                        cache[term] = data;
                        response(data);
                    });
                },
            });
        });
    });
</script>