@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerInfo


<style>
    .btn-player-counter {
        margin-top: -5px;
    }

    .dropdown-menu-extended {
        max-height: 500px; /* Or any other value */
        overflow-y: auto;
    }

    .custom-dropdown {
        width: 315px; /* Or any other value */
    }

    .no-arrow::after {
        display: none;
    }

    .damage-type-header {
        margin-left: 10px;
    }
</style>
<div class="card bg-transparent border-0" id="playerInfo1234">
    <div class="card-body text-white bg-dark" style="padding-top: 5px;">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div>
                    <button data-userid="@Model.UserId" class="shadow-none text-white btn btn-transparent btn-sm btnDecreaseLife btn-player-counter">-</button>
                    @Model.LifeTotal
                    <button data-userid="@Model.UserId" class="shadow-none btn text-white btn-transparent btn-sm btnIncreaseLife btn-player-counter">+</button>
                </div>
                <div class="ml-2" style="font-size: 12px;">
                    <div>
                        <span>Mike</span>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-toggle no-arrow shadow-none fst-italic" type="button" id="playerInfoDropDownToggle" data-bs-toggle="dropdown" aria-expanded="false">
                            @if(Model.Commander1 == null)
                            {
                                <span>click to add commander(s)</span>
                            }
                            else
                            {
                                <span class="card-tooltip" data-toggle="tooltip" title="<img src='@Model.Commander1.ImageUri' alt='Commander Card Image' class='card-tooltip-image' />">
                                    @Model.Commander1.Name
                                </span>
                            }
                            
                            @if (Model.Commander2 != null)
                            {
                                <span> / </span>

                                <span class="card-tooltip" data-toggle="tooltip" title="<img src='@Model.Commander2.ImageUri' alt='Commander Card Image' class='card-tooltip-image' />">
                                    @Model.Commander2.Name
                                </span>
                            }
                        </div>

                        <div class="mt-1">
                            @await Html.PartialAsync("_CardColors", Model.CommanderColors)
                        </div>

                        <div class="dropdown-menu dropdown-menu-right text-white custom-dropdown" aria-labelledby="playerInfoDropDownToggle" style="background-color: slateblue;">
                            @await Html.PartialAsync("Components/PlayerInfo/_PlayerInfoDropdown", Model)
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn shadow-none text-white p-0 no-arrow dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark text-white" aria-labelledby="dropdownMenuButton1">
                    <div class="card-body" style="font-size: 12px; padding-top: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>