@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerInfo


@*@Model.PlayerName <button data-userid="@Model.UserId" class="btnDecreaseLife">-</button>@Model.LifeTotal<button data-userid="@Model.UserId" class="btnIncreaseLife">+</button>*@
<style>
    .transparent-card {
        background: rgba(0, 0, 0, 0.5) !important; /* Black with 50% opacity */
    }
</style>
<div class="card text-center border-0 transparent-card">
    <div class="card-body bg-dark text-white">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <p class="card-text">@Model.PlayerName</p>
                <p class="card-text">
                    Life Total:
                    <button data-userid="@Model.UserId" class="btn btn-danger btn-sm btnDecreaseLife">-</button>
                    @Model.LifeTotal
                    <button data-userid="@Model.UserId" class="btn btn-success btn-sm btnIncreaseLife">+</button>
                </p>
            </div>
            <button class="btn btn-secondary btn-sm text-white bg-transparent border-0" type="button" data-bs-toggle="collapse" data-bs-target="#settingsCollapse" aria-expanded="false" aria-controls="settingsCollapse">
                ...
            </button>
        </div>
        <div class="collapse bg-transparent text-white" id="settingsCollapse">
            <div class="card card-body bg-dark text-white border-0 text-start">
                Player ID: @Model.UserId
                <p class="commanderDamage">
                    Commander Damage:
                    <button data-userid="@Model.UserId" class="btn btn-danger btn-sm btnDecreaseCommanderDamage">-</button>
                    @Model.CommanderDamage
                    <button data-userid="@Model.UserId" class="btn btn-success btn-sm btnIncreaseCommanderDamage">+</button>
                </p>
                <p class="infectDamage">
                    Infect Damage:
                    <button data-userid="@Model.UserId" class="btn btn-danger btn-sm btnDecreaseInfectDamage">-</button>
                    @Model.InfectDamage
                    <button data-userid="@Model.UserId" class="btn btn-success btn-sm btnIncreaseInfectDamage">+</button>
                </p>
            </div>
        </div>
    </div>
</div>



