@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model CommanderDamage

<div class="commanderDamageTracker">
    <div class="d-flex justify-content-between">
        <div class="pt-2">
            <small>@Model.CommanderName</small>
        </div>

        <div class="d-flex" style="min-width:70px;">
            <div class="btn btn-sm btnAdjustCommanderDamage" data-player-id="@Model.PlayerId" 
                    data-owner-player-id="@Model.OwnerPlayerId" data-card-id="@Model.CardId" data-amount="-1"
                    style="@(Model.ReadOnly ? "visibility:hidden" : "")">
                <i class="bi bi-file-minus" style="font-size: 1.5rem;"></i>
            </div>

            <div class="pt-2" style="min-width:20px; text-align:center">
                <span class="damageCount">@Model.Damage</span>
            </div>

            <div class="btn btn-sm btnAdjustCommanderDamage" data-player-id="@Model.PlayerId"
                    data-owner-player-id="@Model.OwnerPlayerId" data-card-id="@Model.CardId" data-amount="1"
                    style="@(Model.ReadOnly ? "visibility:hidden" : "")">
                <i class="bi bi-file-plus" style="font-size: 1.5rem;"></i>
            </div>
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar" style="width:@Model.DamagePercentage%" data-value="@Model.Damage" role="progressbar" aria-valuenow="@Model.Damage" aria-valuemin="0" aria-valuemax="20"></div>
    </div>
</div>