@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model PlayerInfo

<div class="d-flex align-items-center w-100">
    <button type="button" class="btn btn-transparent btn-xs text-white shadow-none btnAdjustLifeTotal" 
            data-player-id="@Model.Id" data-amount="-1"
            style="@(!Model.IsSelf ? "visibility:hidden" : "")">
        <i class="bi bi-dash"></i>
    </button>

    <span class="lifeTotal" data-player-id="@Model.Id">@Model.LifeTotal</span>

    <button type="button" class="btn btn-transparent btn-xs text-white shadow-none btnAdjustLifeTotal" 
            data-player-id="@Model.Id" data-amount="1"
            style="@(!Model.IsSelf ? "visibility:hidden" : "")">
        <i class="bi bi-plus"></i>
    </button>
</div>