@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model PlayerInfo

<div class="d-flex align-items-center w-100">
    <button class="shadow-none text-white btn btn-transparent btn-sm btnAdjustLifeTotal btn-player-counter"
            data-player-id="@Model.Id" data-amount="-1"
            style="@(!Model.IsSelf ? "visibility:hidden" : "")">
        -
    </button>

    <span class="lifeTotal">@Model.LifeTotal</span>

    <button class="shadow-none btn text-white btn-transparent btn-sm btnAdjustLifeTotal btn-player-counter"
            data-player-id="@Model.Id" data-amount="1"
            style="@(!Model.IsSelf ? "visibility:hidden" : "")">
        +
    </button>
</div>